.footer {
	font-family: sans-serif;
	text-align: center;
	padding: 8px 0;
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
  gap: 8px;
}

.footerQuote {
	font-size: 0.8rem;
	font-style: italic;
}
