.container {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	gap: 16px;
}

.resultContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	flex: 1;
	gap: 16px;
}

.fileUploaderContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	flex: 1;
	gap: 16px;
}

.fileUploader {
	border: 1px dashed #0e8388;
	border-radius: 8px;
	padding: 16px;
	font-size: 1.1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 12px;
	color: #2e4f4f;
  height: 100%;
}

.icon {
	width: 24px;
	height: 24px;
}

.underline {
	text-decoration: underline;
}

.recognitionResult {
	display: flex;
	justify-content: space-between;
	align-items: center;
  gap: 16px;
}

.textContainer {
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	border-radius: 8px;
	flex: 1;
}

.confidenceContainer {
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	border-radius: 8px;
	flex: 1;
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
	}
}
