.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	gap: 16px;
	margin-bottom: 16px;
}

.iframe {
	width: 100%;
	min-width: 850px;
	height: 100%;
	min-height: 450px;
	border: 0;
}