.subSectionHeader {
	margin-bottom: 16px;
	margin-top: 32px;
	font-family: sans-serif;
	font-size: 1.3rem;
	color: var(--primary-color);
}

.subSectionHeader a {
	text-decoration: none;
}

.subSectionHeader a:hover {
	text-decoration: underline;
}