.cogLogoHeader {
	font-family: sans-serif;
	color: var(--primary-color);
  font-size: 1.7rem;
}

.cogLogoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
  margin-bottom: 16px;
}

.cogLogo {
	width: 60%;
}

.youtubeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.highlight {
	color: var(--highlight-color);
}

@media screen and (max-width: 768px) {
	.cogLogoContainer {
		margin-top: 32px;
	}

	.cogLogo {
		width: 100%;
	}
}
