.navigation {
	display: flex;
	margin: 0 0 32px;
	background-color: var(--dark-bg-color);
	padding: 0 64px;
	justify-content: center;
}

.navItem {
	list-style-type: none;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	margin: 0;
}

.navItem a {
	display: flex;
	padding: 16px;
	color: var(--lighter-primary-color);
	text-align: center;
	text-decoration: none;
}

.special {
	border-left: 1px solid var(--lighter-primary-color);
}

.navItem a:hover:not(.active) {
	background-color: var(--darker-primary-color);
}

.active {
	background-color: var(--primary-color);
}

.mobileNav {
	display: none;
}

.navContainer {
	position: fixed;
	width: 100%;
	z-index: 1;
}

@media screen and (max-width: 768px) {
	.navigation {
		display: none;
		padding: 0;
		margin: 0;
		justify-content: flex-start;
		flex-direction: column;
	}

	.navigation.mobileActive {
		display: flex;
		overflow: auto;
	}

	.special {
		border-left: none;
		border-top: 1px solid var(--lighter-primary-color);
		border-bottom: 1px solid var(--lighter-primary-color);
	}

	.mobileNav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--primary-color);
		border-bottom: 1px solid var(--darker-primary-color);
		font-family: sans-serif;
		color: var(--white-color);
		font-weight: bold;
		padding: 16px 24px;
		font-size: 1.5rem;
	}

	.mobileNav a {
		color: var(--white-color);
		text-decoration: none;
	}

	.hamburger {
		background: none;
		border: none;
		color: var(--white-color);
		cursor: pointer;
		padding: 0;
	}

	.navContainer.mobileActive {
		background-color: var(--dark-bg-color);
	}
}
