.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: var(--shadow-elevation-medium);
	border-radius: 16px;
	padding: 32px;
	font-family: sans-serif;
	font-size: 1.2rem;
	margin-top: 8px;
	margin-bottom: 32px;
	color: var(--text-color);
	border: 2px solid var(--border-color);
	line-height: 1.5;
}

.header {
	font-size: 1.4rem;
	line-height: 1.25;
}

.error {
	color: var(--error-color);
}

.info {
	color: var(--primary-color);
}

.warning {
	color: var(--warning-color);
}
