.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  font-family: sans-serif;
}

.main img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  border-radius: 32px;
}

.main h1 {
  text-align: center;
  margin: 0 0 32px 0;
}

.main h1, .main h2 {
  margin: 16px 0 8px 0;
}